@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@model List<WorkoutRoutines>

@{
    ViewBag.Title = "Profile";
    //var firstName = Model.FirstOrDefault().User; // Default to "Guest" if null
    var firstName = ViewBag.FirstName;
    var currentRoutine = ViewBag.CurrentRoutine;
    //var currRtn = Model.FirstOrDefault().User.CurrentWorkoutRoutineId; // ****** FIGURE OUT WHY USER US NULL ******
}

<div row>

    <div class="col-md-12">
        <ul class="flex-grow-1">
            <li class="list-group-item">
                
                @if (firstName == "dylan" || firstName == "Dylan")
                {
                    <p>Well well well. If it isn't Dylbo Baggins...</p>
                }
                else
                {
                    <p>First name: @firstName</p>
                }
            </li>
            <li class="list-group-item">
                <p>Last name: @ViewBag.LastName</p>
            </li>
            <li class="list-group-item">
                Email: @ViewBag.Email
            </li>
        </ul>
    </div>


</div>

<div row>

    <div class="col-md-12">
        @foreach(var routine in Model)
        {
            <ul>
                @if(routine.WorkoutRoutineId == currentRoutine)
                {
                    <li><a asp-controller="Workout" asp-route-id="@routine.WorkoutRoutineId" asp-action="ViewRoutine">@routine.RoutineName</a> - Your current routine</li>
                }
                else
                {
                    <li><a asp-controller="Workout" asp-route-id="@routine.WorkoutRoutineId" asp-action="ViewRoutine">@routine.RoutineName</a></li>
                }
            </ul>
        }
    </div>

</div>